
body{
    background-color: #E9EBEE;
}

#my-nav{
    background-color: #4267B2;
}

#my-nav a{
    color: white !important;
}

.search_width{
    width: 400px !important;
}

#icon-color span{
    color: #0D1524;
    font-size: 20px;
}

section{
    padding: 0 !important;
}

.red, .pink, .orange{
    height: 500px;
}

.red{
    background-color: red;
}

.pink{
    background-color: pink;
    margin: 0 10px 0 10px;
}

.orange{
    background-color: orange;
}

footer{
    background-color: black;
    height: 42px;
    margin-top: 10px;
}


