
body{
    background-color: #E9EBEE;
}

#my-nav{
    background-color: #4267B2;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#my-nav a{
    color: white !important;
}

.search_width{
    width: 400px !important;
}

#icon-color span{
    color: #0D1524;
    font-size: 20px;
}

.img_border{
    margin-right: 10px;
}

.nav_pro{
    padding-top: 10px !important;
}

section{
    margin-top: 65px;
}

.list_heading{
    padding: 20px 15px 0px 15px;
}

.list-color a{
    color: black !important;
}

.list-color p{
    color: grey !important;
}


.post_section {
    height: 663px;
    overflow: scroll;
}

.post_section::-webkit-scrollbar{
    display: none;
}

.sub_comment{
    margin-top: 10px;
}

.comment_toolkit span{
    margin-right: 5px;
}

.comment_box{
    width: 100%;
    border-radius: 20px;
    height: 32px;
    color: grey;
    border: 0px !important;
}

.comment_box:focus{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.comment_toolkit input{
    padding-left: 10px;
}

.ad_section{
    height: 100vh;
    overflow: scroll;
}

.ad_section::-webkit-scrollbar {
    display: none;
}

.panel-body .glyphicon{
    margin: 0px 4px 0px 10px;
}

.panel{
    margin-bottom: 12px;
}

.text-post{
    margin-top: 0px;
    margin-bottom: 18px;
}

.margin-img{
    margin-bottom: 15px;
}

.colors a{
    color: black !important;
}

footer{
    margin-top: 20px;
}
