
body{
    background-color: #E9EBEE;
}

#my-nav{
    background-color: #4267B2;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#my-nav a{
    color: white !important;
}

.search_width{
    width: 400px !important;
}

#icon-color span{
    color: #0D1524;
    font-size: 20px;
}

section{
    padding: 0 !important;
    margin-top: 65px;
}

.red, .pink, .orange{
    height: 5000px;
}

.red{
    background-color: red;
}

.pink{
    background-color: pink;
    margin: 0 10px 0 10px;
}

.orange{
    background-color: orange;
}

footer{
    margin-top: 20px;
}
